.c4{
    font-size: 50;
    font-family:'Franklin Gothic Medium';
    border-style:dotted;
    border-width: medium;
}
.c3{
    font-size: 50;
    font-family:'Franklin Gothic Medium';
    border-style:ridge;
    border-width: medium;
}
.c2{
    font-size: 50;
    font-family:'Franklin Gothic Medium';
    border-style:dashed;
}
.c1{
    font-size: 50;
    font-family:'Franklin Gothic Medium';
    border-style:solid;
}

#id69{
    font-size: 50;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style:double;
}